<div class="analytics-container" data-ga="{{ {clientId: clientId, profileId: profileId}|json_encode }}">
    <div class="chart-container">
        <div class="header clearfix">
            <h4 class="pull-left">Sessions for last 30 days</h4>
            <div class="count pull-right label label-default text-lg"></div>
        </div>
        <div class="chart"></div>
    </div>
    <div class="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</div>
    <div class="auth-container"></div>
</div>
