
<div class="analytics-container" data-ga="{{ {clientId: clientId, profileId: profileId}|json_encode }}">
    <div class="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</div>
    <div class="chart-container"></div>
    <div class="auth-container"></div>
</div>
